.carShapeContainer {
  margin-top: 80px;
}

.chooseShapeContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
}

.singleLogoMake {
  height: 122px;
  border: solid 1px #cdd1d4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.chooseShapeContainer > .singleLogoMake {
  width: calc((100% - 80px) / 4);
  margin: 0 10px;
  margin-bottom: 20px;
  max-width: 176px;
  height: 153px;
}

.viewAllshapes {
  color: #154f9c;
  border: solid 1px #154f9c;
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: bold;
  width: 190px;
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
}

.singleLogoMake > div::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.singleLogoMake > div[class*="shape"]::before {
  content: "";
  display: block;
  background-image: none;
  margin: 0 auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 80%;
  background-size: 100%;
}

.singleLogoMake > div.shape_2::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/sedan.svg");
  width: 108px;
  height: 35px;
}

.singleLogoMake > div.shape_4::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/suv.svg");
  width: 100px;
  height: 38px;
}

.singleLogoMake > div.shape_5::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/cross.svg");
  width: 105px;
  height: 37px;
}

.singleLogoMake > div.shape_3::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/pickup.svg");
  width: 110px;
  height: 38px;
}

.singleLogoMake > div.shape_8::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/van.svg");
  width: 97px;
  height: 40px;
}

.singleLogoMake > div.shape_7::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/hatch.svg");
  width: 99px;
  height: 36px;
}

.singleLogoMake > div.shape_6::before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/sport.svg");
  width: 106px;
  height: 31px;
}

.singleLogoMake > div[class*="shape"] > span:first-child {
  color: #004ea2;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 25px;
}

.singleLogoMake > div {
  color: #697a8f;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.singleLogoMake > div[class*="shape"] {
  text-align: center;
}

a.viewAllshapes.m-show.mobileGoTo {
    width: calc((100% - 80px) / 2);
    margin: 0 10px;
    margin-bottom: 20px;
    max-width: 176px;
    height: 153px;
    background-image: url("https://cdn.syarah.com/syarah/bundles/mobileMoreShapeIcn.svg");
    background-repeat: no-repeat;
    background-position: center calc(50% - 24px / 2 - 15px);
    padding-top: 80px;
    border-color: #cdd1d4;
    font-size: 14px;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
  }