.ourServices {
    margin-top: 125px;
    background-color: #f5faff;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .ourServices > .container {
    max-width: 1140px;
  }
  
  .servicesContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
  }
  
  .singleService {
    max-width: 45%;
    min-width: 45%;
    text-align: center;
  }
  
  .singleService > h3 {
    font-size: 26px;
    color: #154f9c;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  
  .singleService > div {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .singleService > div > div > img {
    width: 90%;
  }
  
  .singleService > div:first-child > div > img {
    max-width: 390px;
  }
  
  .singleService > div:last-child > div > img {
    max-width: 413px;
  }
  
  .singleService > p {
    color: #6c7a8d;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  
  .singleService > a {
    color: #154f9c;
    border: solid 1px #154f9c;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
  }