.section1 {
  background-color: #eff2f5;
  padding-top: 80px;
  padding-bottom: 35px;
}

.section1Content > h1 {
  color: #154f9c;
  font-weight: bold;
}

.section1Content > h1 > span {
  font-size: 28px;
  margin-bottom: 3px;
  display: block;
}

.section1Content > h1 > strong {
  font-size: 48px;
}

.section1Content > p {
  color: #154f9c;
  font-size: 22px;
  margin-top: 30px;
}

.section1Content > a {
  background-color: #ec6234;
  background-color: #ed4f25;
  font-weight: bold;
  display: block;
  border-radius: 4px;
  max-width: 286px;
  height: 56px;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arrShow.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 30px;
}

body[dir="rtl"] .section1Content > a {
  background-position: 15px center;
}

body[dir="ltr"] .section1Content > a {
  background-position: calc(100% - 15px) center;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arrRdEn.png");
}

.paymentMethodsContainer {
  margin-top: 40px;
}

.paymentMethodsContainer > h5,
.greenGrd {
  color: #00b362;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.paymentMethodsContainer > h5 > span,
.greenGrd > span {
  margin: 0 5px;
}

.paymentMethodsContainer > ul {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

body[dir="rtl"] .paymentMethodsContainer > ul > li:not(:first-child) {
  margin-right: 10px;
}

body[dir="ltr"] .paymentMethodsContainer > ul > li:not(:first-child) {
  margin-left: 10px;
}

.section1 > *[class*="container"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1100px;
}

.section1Content + img {
  max-width: 667px;
  width: 60.6%;
}
