.whyBuySection {
  margin-top: 18px;
}

.whyBuySection > *[class*="container"] {
  text-align: center;
  max-width: 961px;
}

.wBTxtCont {
  box-sizing: border-box;
  text-align: start;
}

.wBTxtCont > h3 {
  font-weight: bold;
  color: #154f9c;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 32px;
}

.wBTxtCont > p {
  color: #6c7a8d;
  font-size: 16px;
  line-height: 32px;
}

.whyBuyUl > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whyBuyUl > li:not(:first-child) {
  margin-top: 115px;
}

.whyBuyUl > li > *:not(img) {
  min-width: 45%;
  max-width: 45%;
}

.whyBuyUl > li > img {
  width: 45%;
}

.whyBuyUl > li:nth-child(even) {
  flex-direction: row-reverse;
}
