.howToBuyContainer {
  margin-top: 80px;
}

.toggleImagesContainer > ul > li {
  border: solid 1px #d5dfee;
  border-radius: 8px;
  padding: 35px 25px;
  box-sizing: border-box;
  color: #154f9c;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.toggleImagesContainer > ul > li:not(:first-child) {
  margin-top: 25px;
}

.toggleImagesContainer > ul > li > strong {
  font-weight: bold;
  font-size: 40px;
}

body[dir="rtl"] .toggleImagesContainer > ul > li > strong {
  margin-left: 30px;
}

body[dir="ltr"] .toggleImagesContainer > ul > li > strong {
  margin-right: 30px;
}

.toggleImagesContainer > ul > li:not(.activeHow) {
  cursor: pointer;
}

.toggleImagesContainer > ul > li.activeHow {
  background: rgb(47, 135, 203);
  background: linear-gradient(
    90deg,
    rgba(47, 135, 203, 1) 0%,
    rgba(21, 79, 156, 1) 100%
  );
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0px 10px rgba(188, 188, 188, 0.4);
}

.toggleImagesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 75px;
  /* direction: rtl; */
}

.toggleImagesContainer > ul {
  width: 470px;
}

.toggleImagesContainer > div {
  width: 65%;
  width: calc(100% - 470px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body[dir="rtl"] .toggleImagesContainer > div {
  right: 10%;
}

body[dir="ltr"] .toggleImagesContainer > div {
  left: 10%;
}

.toggleImagesContainer > div > img {
  width: 100%;
}

.toggleImagesContainer > div > img[src*="h1"] {
  max-width: 600px;
}

.toggleImagesContainer > div > img[src*="h2"] {
  max-width: 500px;
}

.toggleImagesContainer > div > img[src*="h3"] {
  max-width: 600px;
}

.toggleImagesContainer > div > img[src*="h4"] {
  max-width: 500px;
}

@media screen and (min-width: 1025px) {
  .toggleImagesContainer > ul > li:not(.activeHow):hover {
    background: #f6f8f9;
  }
}
