.addBanner {
  display: flex;
  align-items: center;
  border: solid 2px #ec6234;
  border-radius: 8px;
  padding: 25px 23px;
  margin: 0 auto;
  max-width: 961px;
  margin-top: 30px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

body[dir="rtl"] .addBanner > div {
  margin-right: 35px;
}

body[dir="ltr"] .addBanner > div {
  margin-left: 35px;
}

.addBanner > div > h3 {
  color: #154f9c;
  font-size: 26px;
  font-weight: bold;
}

.addBanner > div > p {
  color: #154f9c;
  font-size: 16px;
  margin-top: 20px;
}

body[dir="rtl"] .addBanner > a {
  margin-right: auto;
  margin-left: 15px;
}

body[dir="ltr"] .addBanner > a {
  margin-left: auto;
  margin-right: 15px;
}

.addBanner > a {
  color: #154f9c;
  border: solid 1px #154f9c;
  border-radius: 4px;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 16px;
}

.addBanner > img {
  max-width: 182px;
}
