.intagarmContainer {
  background-color: #f4f9fe;
  padding: 70px 0;
  margin-top: 70px;
}

.intagarmContainer > [class*="container"] > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intagarmContainer > [class*="container"] > h1 > strong {
  font-size: 26px;
  font-weight: bold;
  color: #154f9c;
  margin-top: 30px;
  margin-bottom: 20px;
}

.intagarmContainer > [class*="container"] > h1 > span {
  color: #154f9c;
  font-size: 18px;
}

.instagramSlider > .slides {
  height: 513px;
  position: relative;
  margin-top: 40px;
  perspective: 1000px;
}

.singleinstaSlide {
  width: 370px;
  height: 513px;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.singleinstaSlide > img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.7s;
}

.singleinstaSlide:hover > img {
  transform: scale(1.1);
}

.singleinstaSlide > .layerIg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(21, 79, 156);
  background: linear-gradient(
    0deg,
    rgba(21, 79, 156, 1) 0%,
    rgba(34, 108, 180, 0.5) 50%,
    rgba(21, 79, 156, 0) 100%
  );
}

.singleinstaSlide.activeIG > .layerIg:after {
  content: "";
  position: absolute;
  background-image: url(https://cdn.syarah.com/syarah/bundles/play_icon.svg);
  width: 70px;
  height: 70px;
  background-size: contain;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  pointer-events: none;
  z-index: 2;
}

.singleinstaSlide > .layerIg > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #ffffff;
}

.singleinstaSlide > .layerIg > div > strong {
  font-size: 26px;
  font-weight: bold;
}

.singleinstaSlide > .layerIg > div > span {
  margin-top: 15px;
  font-size: 22px;
}

.instagramSlider > .slides > .singleinstaSlide {
  left: calc(50% - 370px / 2);
  transition: 0.5s;
}

.instagramSlider > .slides > .singleinstaSlide:not(.activeIG) {
  transform: translate(100%, 0) scale(0.8) rotateY(0deg);
  opacity: 0;
  pointer-events: none;
}

.instagramSlider > .slides > .singleinstaSlide:not(.activeIG).prevactiveIG {
  opacity: 0.4;
}

.instagramSlider > .slides > .singleinstaSlide.activeIG ~ .singleinstaSlide {
  transform: translate(-100%, 0) scale(0.8) rotateY(0deg);
  opacity: 0.4;
  pointer-events: none;
}

.instagramSlider
  > .slides
  > .singleinstaSlide.activeIG
  + .singleinstaSlide
  ~ .singleinstaSlide {
  opacity: 0;
  pointer-events: none;
}

.instagramSlider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.instagramSlider > .buttons > .shiftRightIG {
  width: 47px;
  height: 45px;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arrR.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 45px / 2);
  border-radius: 100%;
  cursor: pointer;
}

body[dir="rtl"] .instagramSlider > .buttons > .shiftRightIG {
  right: 0;
}

body[dir="ltr"] .instagramSlider > .buttons > .shiftRightIG {
  left: 0;
  transform: rotate(180deg);
}

.instagramSlider > .buttons > .shiftLeftIG {
  width: 47px;
  height: 45px;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arrL.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 45px / 2);
  border-radius: 100%;
  cursor: pointer;
}

body[dir="rtl"] .instagramSlider > .buttons > .shiftLeftIG {
  left: 0;
}

body[dir="ltr"] .instagramSlider > .buttons > .shiftLeftIG {
  right: 0;
  transform: rotate(180deg);
}

.instagramSlider > .slides > .singleinstaSlide.lastOnFirst {
  opacity: 0.4 !important;
  transform: translate(100%, 0) scale(0.8) rotateY(0deg) !important;
}

.instagramSlider > .slides > .singleinstaSlide.firstOnLast {
  transform: translate(-100%, 0) scale(0.8) rotateY(0deg) !important;
  opacity: 0.4 !important;
}
