.searchByMakeContainer {
  margin-top: 140px;
}

.singleLogoMake {
  height: 122px;
  border: solid 1px #cdd1d4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.singleLogoMake > div {
  color: #697a8f;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.makesWithLogo {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-between;
}

.makesWithLogo > .singleLogoMake {
  width: calc((100% - 20px) / 4);
  margin-bottom: 20px;
  max-width: 176px;
}

/* car makes */

.singleLogoMake > div::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.make_4:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/4.png");
  background-size: 95px;
}

.make_5:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/5.png");
  background-size: 95px;
}

.make_6:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/6.png");
  background-size: 150px;
}

.make_7:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/7.png");
  background-size: 85px;
}

.make_8:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/8.png");
  background-size: 105px;
}

.make_9:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/9.png");
  background-size: 125px;
}

.make_10:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/10.png");
  background-size: 115px;
}

.make_11:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/11.png");
  background-size: 85px;
}

.make_12:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/12.png");
  background-size: 120px;
}

.make_13:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/13.png");
  background-size: 80px;
}

.make_14:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/14.png");
  background-size: 80px;
}

.make_15:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/15.png");
  background-size: 85px;
}

.make_16:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/16.png");
  background-size: 85px;
}

.make_17:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/17.png");
  background-size: 115px;
}

.make_18:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/18.png");
  background-size: 95px;
}

.make_19:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/19.png");
  background-size: 115px;
}

.make_20:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/20.png");
  background-size: 115px;
}

.make_21:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/21.png");
  background-size: 100px;
}

.make_22:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/22.png");
  background-size: 110px;
}

.make_23:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/23.png");
  background-size: 80px;
}

.make_24:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/24.png");
  background-size: 80px;
}

.make_25:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/25.png");
  background-size: 80px;
}

.make_26:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/26.png");
  background-size: 80px;
}

.make_27:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/27.png");
  background-size: 85px;
}

.make_28:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/28.png");
  background-size: 80px;
}

.make_29:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/29.png");
  background-size: 80px;
}

.make_30:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/30.png");
  background-size: 80px;
}

.make_31:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/31.png");
  background-size: 85px;
}

.make_32:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/32.png");
  background-size: 100px;
}

.make_33:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/33.png");
  background-size: 75px;
}

.make_34:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/34.png");
  background-size: 90px;
}

.make_35:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/35.png");
  background-size: 125px;
}

.make_36:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/36.png");
  background-size: 100px;
}

.make_37:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/37.png");
  background-size: 120px;
}

.make_38:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/38.png");
  background-size: 120px;
}

.make_39:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/39.png");
  background-size: 80px;
}

.make_40:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/40.png");
  background-size: 80px;
}

.make_41:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/41.png");
  background-size: 80px;
}

.make_42:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/42.png");
  background-size: 80px;
}

.make_43:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/43.png");
  background-size: 80px;
}

.make_44:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/44.png");
  background-size: 105px;
}

.make_45:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/45.png");
  background-size: 105px;
}

.make_46:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/46.png");
  background-size: 75px;
}

.make_47:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/47.png");
  background-size: 105px;
}

.make_48:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/48.png");
  background-size: 105px;
}

.make_49:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/49.png");
  background-size: 80px;
}

.make_50:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/50.png");
  background-size: 80px;
}

.make_51:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/51.png");
  background-size: 95px;
}

.make_52:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/52.png");
  background-size: 80px;
}

.make_53:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/53.png");
  background-size: 80px;
}

.make_54:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/54.png");
  background-size: 115px;
}

.make_55:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/55.png");
  background-size: 80px;
}

.make_56:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/56.png");
  background-size: 80px;
}

.make_57:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/57.png");
  background-size: 120px;
}

.make_58:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/58.png");
  background-size: 80px;
}

.make_59:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/59.png");
  background-size: 120px;
}

.make_60:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/60.png");
  background-size: 100px;
}

.make_61:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/61.png");
  background-size: 100px;
}

.make_62:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/62.png");
  background-size: 100px;
}

.make_63:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/63.png");
  background-size: 80px;
}

.make_64:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/64.png");
  background-size: 75px;
}

.make_65:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/65.png");
  background-size: 80px;
}

.make_66:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/66.png");
  background-size: 100px;
}

.make_67:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/67.png");
  background-size: 100px;
}

.make_68:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/68.png");
  background-size: 100px;
}

.make_69:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/69.png");
  background-size: 80px;
}

.make_70:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/70.png");
  background-size: 90px;
}

.make_71:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/71.png");
  background-size: 85px;
}

.make_72:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/72.png");
  background-size: 130px;
}

.make_73:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/73.png");
  background-size: 100px;
}

.make_74:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/74.png");
  background-size: 100px;
}

.make_75:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/75.png");
  background-size: 80px;
}

.make_76:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/76.png");
  background-size: 90px;
}

.make_77:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/77.png");
  background-size: 100px;
}

.make_78:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/78.png");
  background-size: 80px;
}

.make_79:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/79.png");
  background-size: 80px;
}

.make_80:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/80.png");
  background-size: 80px;
}

.make_81:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/81.png");
  background-size: 100px;
}

.make_82:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/82.png");
  background-size: 100px;
}

.make_83:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/83.png");
  background-size: 85px;
}

.make_84:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/84.png");
  background-size: 75px;
}

.make_85:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/85.png");
  background-size: 100px;
}

.make_86:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/86.png");
  background-size: 100px;
}

.make_87:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/87.png");
  background-size: 100px;
}

.make_88:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/88.png");
  background-size: 100px;
}

.make_89:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/89.png");
  background-size: 100px;
}

.make_90:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/90.png");
  background-size: 100px;
}

.make_91:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/91.png");
  background-size: 100px;
}

.make_92:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/92.png");
  background-size: 100px;
}

.make_93:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/93.png");
  background-size: 80px;
}

.make_94:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/94.png");
  background-size: 135px;
}

.make_95:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/95.png");
  background-size: 100px;
}

.make_96:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/96.png");
  background-size: 100px;
}

.make_97:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/97.png");
  background-size: 100px;
}

.make_98:before {
  background-image: url("https://cdn.syarah.com/syarah/bundles/carLogos/98.png");
  background-size: 135px;
}

.viewAllMakes {
  color: #154f9c;
  border: solid 1px #154f9c;
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: bold;
  width: 190px;
  font-size: 16px;
  display: block;
  outline: none !important;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.allCarsMakeText {
  margin-top: 30px;
}

.allCarsMakeText > h3 {
  text-align: center;
  color: #154f9c;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
}

.allCarsMakeText > ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 860px;
  margin: 0 auto;
}

.allCarsMakeText > ul > li {
  width: calc(100% / 5);
  text-align: center;
  margin-bottom: 40px;
}

.allCarsMakeText > ul > li > a {
  font-size: 18px;
  color: #154f9c;
}

@media screen and (min-width: 1025px) {
  .makesWithLogo > .singleLogoMake:nth-child(n + 9) {
    display: none;
  }
}
