/* color fixed classes */

.notiMsgRed {
  position: relative;
}

.notiMsgRed:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ec6234;
  border-radius: 50%;
  top: -3px;
}

body[dir="rtl"] .notiMsgRed:before {
  right: -5px;
}

body[dir="ltr"] .notiMsgRed:before {
  left: -5px;
}

.siteHeader {
  box-shadow: 0 0px 10px rgba(188, 188, 188, 0.4);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 9999 !important;
  background-color: #ffffff;
}

.siteHeader > .innerHdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteHeader > .innerHdr > ul {
  display: flex;
  align-items: center;
}

body[dir="rtl"] .siteHeader > .innerHdr > ul > li:not(:first-child) {
  margin-right: 30px;
}

body[dir="ltr"] .siteHeader > .innerHdr > ul > li:not(:first-child) {
  margin-left: 30px;
}

.siteHeader > .innerHdr > ul > li > a {
  display: block;
  transition: 0.3s;
}

.onlineHdrLink {
  border: solid 1px #154f9c;
  border-radius: 4px;
  padding: 10px 13px;
}

.footer {
  border-top: solid 1px #d8d8d8;
  margin-top: 50px;
  padding-top: 50px;
}

.dataFooterContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #697a8f;
  font-size: 12px;
}

.dataFooterContent a {
  color: #697a8f;
}

.dataFooterContent ul a {
  font-size: 14px;
  margin: 0 10px;
}

.dataFooterContent ul {
  display: flex;
  align-items: center;
}

.dataFooterContent ul > li {
  margin: 0 5px;
}

.dataFooterContent > div > * {
  margin-bottom: 25px;

  height: 15px;
}

.authenticationMsg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e8f6fe;
  color: #484848;
  padding: 4px 10px;
  z-index: 999;
  box-sizing: border-box;
}

.authenticationMsg > *[class*="container"] {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authenticationMsg > *[class*="container"] > img {
  max-width: 200px;
}

.authenticationMsg > *[class*="container"] > p {
  font-size: 14px;
  margin: 0;
}

.authenticationMsg > *[class*="container"] > p > img {
  vertical-align: middle;
  margin: 0 5px;
}

.menuContent {
  direction: rtl;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 300px;
  background-color: #ffffff;
  height: 100%;
  transition: 0.5s;
  left: -300px;
}

.bgForMenu {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menuContent > header {
  padding: 15px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0 2px 6px 0 rgba(217, 217, 217, 0.5);
  align-items: center;
  position: relative;
  z-index: 2;
}

.menuContent > header > span {
  cursor: pointer;
}

.menuContent > header > a {
  background-color: #ff8d00;
  border-radius: 4px;
  width: 108px;
  height: 31px;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  line-height: 31px;
}

.menuContent > .menuBody {
  height: calc(100% - 61px);
  overflow-y: auto;
}

.logInSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  background-color: #f4f7fb;
}

.logInSection > a {
  color: #154f9c;
  font-size: 10px;
  font-weight: bold;
}

.logInSection > a:first-child {
  margin: 0 15px;
}

.logInSection > a + a {
  border: solid 1px #154f9c;
  border-radius: 4px;
  padding: 10px;
}

.menuSection {
  padding: 20px;
  position: relative;
}

.menuSection > h5 {
  color: #154f9c;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menuSection > ul > li {
  padding: 10px 5px;
  box-sizing: border-box;
}

.menuSection > ul > li:hover,
.menuSection > ul > li.activeMenuLink {
  background-color: #f4f7fb;
  position: relative;
}

.menuSection > ul > li:hover > a > span,
.menuSection > ul > li.activeMenuLink > a > span {
  color: #154f9c;
}

.menuSection > ul > li:hover::before,
.menuSection > ul > li.activeMenuLink::before {
  content: "";
  position: absolute;
  background-color: #f4f7fb;
  width: 20px;
  height: 100%;
  right: -20px;
  top: 0;
}

.menuSection > ul > li:hover::after,
.menuSection > ul > li.activeMenuLink::after {
  content: "";
  position: absolute;
  background-color: #f4f7fb;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 0;
}

.menuSection > ul > li.activeMenuLink::before {
  border-right: solid 3px #154f9c;
}

.menuSection > ul > li > a {
  display: flex;
  align-items: center;
  color: #6c7a8d;
  font-size: 14px;
}

.menuSection > ul > li > a > span {
  margin: 0 10px;
}

.menuSection > ul > li > a > img {
  width: 16px;
}

.menuSection > ul > li > a > img[src*="Blue"],
.menuSection > ul > li:hover > a > img[src*="Blue"] + img,
.menuSection > ul > li.activeMenuLink > a > img[src*="Blue"] + img {
  display: none;
}

.menuSection > ul > li:hover > a > img[src*="Blue"],
.menuSection > ul > li.activeMenuLink > a > img[src*="Blue"] {
  display: inline;
}

.menuSection + .menuSection::before {
  content: "";
  height: 1px;
  width: 90%;
  background-color: #cdd1d4;
  position: absolute;
  left: calc(50% - 90% / 2);
  top: 0;
}

.menuFooter {
  padding: 20px;
}

.menuFooter > .greenGrd {
  margin-bottom: 20px;
}

.socialMedia {
  margin-top: 20px;
  color: #6c7a8d;
}

.socialMedia > h5 {
  font-size: 12px;
  margin-bottom: 20px;
}

.socialMedia > ul {
  display: flex;
  align-items: center;
}

.socialMedia > ul > li {
  margin: 0 8px;
}

.menuFooter > .ftrLinks {
  margin-top: 20px;
}

.menuFooter > .ftrLinks > a {
  color: #6c7a8d;
  font-size: 12px;
}

.menu {
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.menu:not(.showMenu) {
  opacity: 0;
  pointer-events: none;
}

.menu.showMenu .menuContent {
  left: 0;
}

.sideMenuToggle {
  cursor: pointer;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

ul.pagination > li {
  width: 58px;
  height: 38px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6afb8;
}

ul.pagination > li.prev > span,
ul.pagination > li.prev > a {
  color: transparent;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arraR.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

ul.pagination > li.next > span,
ul.pagination > li.next > a {
  color: transparent;
  background-image: url("https://cdn.syarah.com/syarah/bundles/arraL.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

ul.pagination > li.active {
  background-color: #154f9c;
  border-radius: 4px;
}

ul.pagination > li > a {
  color: #a6afb8;
}

ul.pagination > li.active > a {
  color: #ffffff;
}

.embed-container video {
  /* object-fit: fill; */
}

.IGViedioPopUp {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.IGViedioPopUp:not(.showPopUp) {
  display: none;
}

.IGViedioPopUp > .videoContent {
  width: 50%;
}

.IGViedioPopUp > .videoContent > i {
  color: #ffffff;
  font-family: sans-serif;
  position: relative;
  top: -10px;
  left: 20px;
  cursor: pointer;
  pointer-events: none;
}

.greenGrd {
  color: #00b362;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.hasAuthPad {
  padding-bottom: 44px;
}
