html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --vh: 60vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  /* scroll-behavior: smooth; */
}

body,
body * {
  font-family: "Cairo";
}

a,
a:hover {
  text-decoration: none;
  color: #154f9c;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
}

.extraWideContainer {
  /* max-width: 1440px; */
}

@supports (-webkit-touch-callout: none) {
  textarea,
  input,
  input[type="text"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

/* color fixed classes */

.redBtn {
  background-color: #ec6234 !important;
  transition: 0.2s;
  border: solid 1px #ec6234 !important;
  box-sizing: border-box;
  color: #ffffff !important;
}

.redBtn:hover {
  background-color: #d65428 !important;
}

.redBtn:active {
  background-color: #cc4c21 !important;
}

.blueBtn {
  background-color: #154f9c !important;
  transition: 0.2s;
  border: solid 1px #154f9c !important;
  box-sizing: border-box;
  color: #ffffff !important;
}

.blueBtn:hover {
  background-color: #104285 !important;
}

.blueBtn:active {
  background-color: #113c76 !important;
}

.whtBtn {
  background-color: transparent !important;
  transition: 0.2s;
  color: #154f9c !important;
  border: solid 1px #154f9c !important;
  box-sizing: border-box;
}

.whtBtn:hover {
  background-color: #154f9c !important;
  color: #ffffff !important;
}

.whtBtn:active {
  background-color: #104285 !important;
  color: #ffffff !important;
}

h1.big {
  color: #154f9c;
  font-size: 40px;
  line-height: 64px;
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
}

h1.big::after {
  content: "";
  width: 104px;
  height: 5px;
  background-color: #ec6234;
  position: absolute;
  left: calc(50% - 104px / 2);
  bottom: 0px;
}

@media (min-width: 1025px) {
  .m-show {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .m-hide {
    display: none !important;
  }
}
